@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body{
    background: rgb(237, 85, 100);
    //background-color: #616161;
    overflow-x: hidden;

    nav{
        height: 100px;
        width: 100vw;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        background: rgb(214, 77, 90);
        //background-color: #414141;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1000;

        .search{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            #search{
                border: none;
                outline: none;
                height: 35px;
                width: 300px;
                min-width: 150px;
                border-radius: 30px;
                padding-left: 1rem;
            }
        }
    }

    main{
        
        .cardsContainer{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            position: relative;
            padding-top: 2rem;
            gap: 2rem;
            padding-top: 160px;

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 250px;
                border-radius: 20px;
            
                .info{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    background-color: rgba(0, 0, 0, 0.3);
                    width: 100%;
                    height: 70px;
                    padding: 0.6rem;
                    border-radius: 20px 20px 0px 0px;
                    
            
                    .id, .name{
                        font-family: "Pixelify Sans", sans-serif;
                        font-size: 1.3rem;
                        font-weight: 1000;
                        color: #e6e9ed;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            
                .photo{
                    height: 250px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.2);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
            
                    .photoBg{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
            
                    .photoSprite{
                        visibility: visible;
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        transition: 500ms;
                    }
                }
            
                .types{
                    display: flex;
                    justify-content: center;
                    gap: 0.7;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 0px 0px 20px 20px;
                    padding: 0.6rem;
                    gap: 2rem;
            
                    .type{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        transition: 1s;
            
                        .typeIcon{
                            display: flex;
                            align-items: center;
                            padding: 0.2rem 0.2rem;
                            gap: 0.2rem;
                            transition: 500ms;
                            position: relative;
            
                            img{
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                                transition: 1s;
                            }
            
                            .typeName{
                                font-size: 1rem;
                                font-weight: 600;
                                color: #e6e9ed;
                                position: absolute;
                                transform: translateX(-10%) rotateX(-90deg);
                                visibility: hidden;
                                transition: 0.1s;
                                padding-right: 0.5rem;
                            }
    
                            &:hover{
                                transition: 1.5s;
                
                                img {
                                    transform: rotate(360deg);
                                    transition: 1.5s;
                                }
                    
                                .typeName {
                                    position: relative;
                                    transform: translateX(0%) rotateX(0deg);
                                    visibility: visible;
                                    transition: 1s;
                                }
                            }
                        }                    
                    }
                }
                
                &:hover{
                    .photo > :not(.photoBg){
                        transform: scale(1.1);
                        transition: 500ms;
                    }
                }
            }
        }

        .moreInfos{
            width: 100%;
            height: 100%;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            z-index: 100;
            background-color: #ffffff50;

            .closeInfo{
                font-weight: 600;
                font-size: 1.3rem;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-self: flex-end;
                align-self: flex-end;
                margin-right: 23.5%;
                background-color: rgb(214, 77, 90);
                color: #e6e9ed;
                cursor: pointer;
                transition: 300ms;
                font-family: "Pixelify Sans", sans-serif;
                border: 3px solid rgba(0, 0, 0, 0.3);

                &:hover{
                    transform: rotate(360deg);
                    transition: 300ms;
                }
            }

            .moreInfo{
                width: 50%;
                min-width: 1000px;
                height: 650px;
                background-color: rgba(237, 85, 100, 0.6);
                backdrop-filter: blur(20px);
                display: flex;
                flex-direction: column;
                border-radius: 30px 30px 30px 30px;

                .pokeInfoNameId{
                    background-color: rgba(0, 0, 0, 0.3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    width: 100%;
                    height: 12%;
                    border-radius: 27px 27px 0px 0px;
                    border: 3px solid rgba(0, 0, 0, 0.2);
                    
                    .pokeInfoName, .pokeInfoId{
                        font-family: "Pixelify Sans", sans-serif;
                        font-size: 1.8rem;
                        font-weight: 1000;
                        color: #e6e9ed;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }

                .pokeEverything{
                    display: flex;
                    height: 88%;

                    .pokeInfo{
                        background-color: rgba(0, 0, 0, 0.2);
                        height: 100%;
                        width: 35%;
                        display: flex;
                        flex-direction: column;
                        border-radius: 0px 0px 0px 30px;
                        border: 3px solid rgba(0, 0, 0, 0.3);
    
                        .infoPhoto{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            height: 55%;
                            border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    
                            .infoSprite{
                                width: 260px;
                                height: 260px;
                                position: absolute;
                            }

                            .infoTypes{
                                display: flex;
                                justify-content: space-around; 
                                padding: 0.3rem;
                                gap: 1rem;
                                position: absolute;
                                top: 2%;
                                right: 2%;
                        
                                .infoType{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 50px;
                        
                                    .infoTypeIcon{
                                        display: flex;
                                        align-items: center;
                                        padding: 0.2rem 0.2rem;
                                        gap: 0.2rem;
                                        position: relative;
                        
                                        img{
                                            width: 50px;
                                            height: 50px;
                                            border-radius: 50%;
                                        }
                                    }                    
                                }
                            }
                        }
                        
                        .changeSpriteContainer{
                            background-color: rgba(0, 0, 0, 0.3);
                            width: 100%;
                            height: 7%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
    
                            .btnSprite{
                                color: #e6e9ed;
                                font-weight: 600;
                                cursor: pointer;
                                transition: 200ms;
    
                                &:hover{
                                    transform: scale(1.05);
                                    transition: 200ms;
                                }
                            }
                        }
    
                        .infoMore{
                            border-radius: 0px 0px 0px 30px;
                            width: 100%;
                            height: 38%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 0.5rem;
    
                            .infoMoreValues{
                                display: flex;
                                align-items: center;
                                justify-content: left;
                                gap: 0.9rem;
                                width: 80%;
    
                                svg{
                                    height: 2.5rem;
                                    width: 2.5rem;
                                }
    
                                .infoMoreValuesText{
                                    font-size: 1rem;
                                    font-weight: 600;
                                    color: #e6e9ed;
                                }
                            }
                        }
                    }
    
                    .pokeMore{
                        width: 65%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        border-radius: 0px 0px 30px 0px;
                        background-color: rgba(0, 0, 0, 0.2);
                        
                        .infoDescription{
                            height: 20%;
                            position: relative;
                            border: 3px solid rgba(0, 0, 0, 0.3);
                            padding: 1.2rem 1.2rem 0rem 1.2rem;

                            .infoDescriptionTitle{
                                position: absolute;
                                top: 0%;
                                left: 0%;
                                background-color: rgba(0, 0, 0, 0.3);
                                color: #e6e9ed;
                                font-weight: 600;
                                font-size: 1rem;
                                padding: 0.2rem 2rem 0.4rem 1rem;
                                border-radius: 0px 0px 30px 0px;
                            }

                            .infoDescriptionText{
                                font-size: 1.1rem;
                                font-weight: 500;
                                color: #e6e9ed;
                                display: flex;
                                align-items: center;
                                width: 100%;
                                height: 100%;
                            }
                        }
    
                        .infoStats{
                            width: 100%;
                            height: 35%;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: 0.5rem;
                            padding: 1.2rem 1.2rem 0rem 1.2rem;
                            border: 3px solid rgba(0, 0, 0, 0.3);
                            position: relative;

                            .infoStatsTitle{
                                position: absolute;
                                top: 0%;
                                left: 0%;
                                background-color: rgba(0, 0, 0, 0.3);
                                color: #e6e9ed;
                                font-weight: 600;
                                font-size: 1rem;
                                padding: 0.2rem 2rem 0.4rem 1rem;
                                border-radius: 0px 0px 30px 0px;
                            }
                        
                            .infoStat{
                                display: flex;
                                flex-direction: column;
                                width: 40%;
                                gap: 0.2rem;
                        
                                .infoStatName{
                                    color: #e6e9ed;
                                    font-weight: 600;
                                }
                        
                                .infoStatBar{
                                    width: 100%;
                                    height: 20px;
                                    border-radius: 20px;
                                    border: 2px solid rgba(0, 0, 0, 0.3);
                                    background-color: rgba(0, 0, 0, 0.3);
                        
                                    .infoStatProgress{
                                        height: 100%;
                                        border-radius: 30px 0px 0px 30px;
                                    }
                                }
                            }
                        }

                        .infoEvolutions{
                            height: 45%;
                            width: 100%;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 1.2rem 1.2rem 0rem 1.2rem;
                            border: 3px solid rgba(0, 0, 0, 0.3);
                            border-radius: 0px 0px 27px 0px;

                            .infoEvolutionsTitle{
                                position: absolute;
                                top: 0%;
                                left: 0%;
                                background-color: rgba(0, 0, 0, 0.3);
                                color: #e6e9ed;
                                font-weight: 600;
                                font-size: 1rem;
                                padding: 0.2rem 2rem 0.4rem 1rem;
                                border-radius: 0px 0px 30px 0px;
                            }

                            .evolutionPhoto{
                                width: 30%;
                                height: 50%;
                                position: relative;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                svg{
                                    width: 180px;
                                    height: 180px;
                                }

                                img{
                                    position: absolute;
                                    width: 160px;
                                    height: 160px;
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
}