@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background: #ed5564;
  overflow-x: hidden;
}
body nav {
  height: 100px;
  width: 100vw;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  background: #d64d5a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
}
body nav .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
body nav .search #search {
  border: none;
  outline: none;
  height: 35px;
  width: 300px;
  min-width: 150px;
  border-radius: 30px;
  padding-left: 1rem;
}
body nav .search .searchIcon {
  cursor: pointer;
  transition: 500ms;
}
body nav .search .searchIcon:hover {
  transform: scale(1.1);
  transition: 500ms;
}
body main .cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  padding-top: 2rem;
  gap: 2rem;
  padding-top: 160px;
}
body main .cardsContainer .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border-radius: 20px;
}
body main .cardsContainer .card .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 70px;
  padding: 0.6rem;
  border-radius: 20px 20px 0px 0px;
}
body main .cardsContainer .card .info .id, body main .cardsContainer .card .info .name {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 1000;
  color: #e6e9ed;
  text-transform: uppercase;
  text-align: center;
}
body main .cardsContainer .card .photo {
  height: 250px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
body main .cardsContainer .card .photo .photoBg {
  position: absolute;
  width: 100%;
  height: 100%;
}
body main .cardsContainer .card .photo .normal {
  visibility: visible;
  width: 80%;
  height: 80%;
  position: absolute;
  transition: 500ms;
}
body main .cardsContainer .card .photo .shiny {
  visibility: hidden;
  width: 80%;
  height: 80%;
  position: absolute;
  transition: 500ms;
}
body main .cardsContainer .card .photo:hover .normal {
  visibility: hidden;
  transition: 500ms;
}
body main .cardsContainer .card .photo:hover .shiny {
  visibility: visible;
  transition: 500ms;
}
body main .cardsContainer .card .types {
  display: flex;
  justify-content: center;
  gap: 0.7;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 20px 20px;
  padding: 0.6rem;
  gap: 2rem;
}
body main .cardsContainer .card .types .type {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 1s;
}
body main .cardsContainer .card .types .type .typeIcon {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.2rem;
  gap: 0.2rem;
  transition: 500ms;
  position: relative;
}
body main .cardsContainer .card .types .type .typeIcon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 1s;
}
body main .cardsContainer .card .types .type .typeIcon .typeName {
  font-size: 1rem;
  font-weight: 600;
  color: #e6e9ed;
  position: absolute;
  transform: translateX(-10%) rotateX(-90deg);
  visibility: hidden;
  transition: 0.1s;
  padding-right: 0.5rem;
}
body main .cardsContainer .card .types .type .typeIcon:hover {
  transition: 1.5s;
}
body main .cardsContainer .card .types .type .typeIcon:hover img {
  transform: rotate(360deg);
  transition: 1.5s;
}
body main .cardsContainer .card .types .type .typeIcon:hover .typeName {
  position: relative;
  transform: translateX(0%) rotateX(0deg);
  visibility: visible;
  transition: 1s;
}
body main .cardsContainer .card:hover .photo > :not(.photoBg) {
  transform: scale(1.1);
  transition: 500ms;
}
body main .moreInfos {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  background-color: #ffffff41;
}
body main .moreInfos .closeInfo {
  position: absolute;
  font-weight: 600;
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d64d5a;
  color: #e6e9ed;
  cursor: pointer;
  transition: .5s;
  font-family: "Pixelify Sans", sans-serif;
}
body main .moreInfos .closeInfo:hover {
  transform: rotate(360deg);
  transition: .5s;
}
body main .moreInfos .moreInfo {
  position: absolute;
  visibility: hidden;
  width: 90%;
  height: 80%;
  background-color: black;
  display: flex;
  border-radius: 30px 30px 30px 30px;
}
body main .moreInfos .moreInfo .pokeInfo {
  background-color: cyan;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 30px 0px 0px 30px;
}
body main .moreInfos .moreInfo .pokeInfo .pokeInfoNameId {
  background-color: #b61414;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 80px;
  border-radius: 30px 0px 0px 0px;
}
body main .moreInfos .moreInfo .pokeInfo .pokeInfoNameId .pokeInfoName, body main .moreInfos .moreInfo .pokeInfo .pokeInfoNameId .pokeInfoId {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 1000;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
